

 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
 
 
/* Aurora Platform */
 
 
:root {
    --aurora-background-color: #202020;
    --aurora-text-color: #FAFAFA;
    --aurora-background-medium:#282828;
    --aurora-text-dark: #282828;
 
    --aurora-font-family: 'Montserrat', Sans-Serif;
    --aurora-font-size: 1rem;
    --aurora-font-size-small: 0.75rem;
    --aurora-font-size-medium: 1.25rem;
    --aurora-font-size-large: 1.5rem;
 
    --aurora-border-radius: 25px;
 
    --aurora-header-height: 5rem;
    --aurora-logo-size: 4rem;
 
    --aurora-margin-zero: 0;
    --aurora-margin-small: 1rem;
    --aurora-margin-medium: 1.5rem;
 
    --aurora-padding-zero: 0;
    --aurora-padding-small: 1rem;
    --aurora-padding-medium: 1.5rem;
 
    --aurora-color-animation: color 0.25s ease;;
 
}

.link-hover{
     background: transparent;
    border: none;
    color: #e6e6e6;
    border-radius: var(--aurora-border-radius);
    width: 100%;
    height: 25px;
    font-size: 12px;
    margin: 1rem;
} 

 
.link-hover:hover{
    background-color: rgba(32, 32, 32, 0.75);
    transition: 1s ease;

}

a:hover{
    transition: var(--aurora-color-animation);
    color: #A6A6A6;
}


.margin-height {
    margin-top: var(--aurora-margin-small);
    margin-bottom: var(--aurora-margin-small);
}
 
 
.padding-height {
    padding-top: var(--aurora-padding-small);
    padding-bottom: var(--aurora-padding-small);
}
 
 
.font-semibold {
    font-weight: 600;
}
 
 
.fontsize-small {
    font-size: var(--aurora-font-size-small);
}
 
 
.border-top {
    border-top: 1px solid #505050 !important;
}
 
 
 
/* Website Styles */
 
 
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--aurora-background-medium);
    font-family: var(--aurora-font-family);
    color: var(--aurora-text-color);
    font-size: var(--aurora-font-size);
}
 
 
.aurora-logo img {
    max-width: var(--aurora-logo-size);
    height: auto;
}
 
 
 
/* Header Section */
 
 
.aurora-header {
    background-color: var(--aurora-background-color);
    width: 100%;
    height: var(--aurora-header-height);
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.125);
    z-index: 7;
}
 
 
.aurora-navbar {
    background-color: var(--aurora-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 var(--aurora-padding-medium);
}
 
 
.aurora-menu {
    display: flex;
}
 
 
.aurora-menu a:hover {
    transition: var(--aurora-color-animation);
    color: #A6A6A6;
}
 
 
.navbar-menu {
    display: flex;
    align-items: center;
}
 
 
.navbar-item {
    padding-right: var(--aurora-padding-small);
}
 
 
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}
 
 
/* Main Section */
 
 
.aurora-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: var(--aurora-margin-medium);
}
 
 
.register-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 500px;
    background-color: #404040;
    border-radius: var(--aurora-border-radius);
}
 
 
.register-form form .login-button {
    align-self: flex-start;
}
 
 
.title-form {
    color: rgba(250, 250, 250, 0.8);
    margin-top: var(--aurora-margin-small);
}
 
 
.title-form h1 {
    font-size: 1.2rem;
}
 
 
.form-container {
    position: relative;
    color: #e6e6e6;
    width: 100%;
}
 
 
 
.form-container input {
    background: transparent;
    color: var(--aurora-text-color);
    display: block;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(230, 230, 230, 0.8);
    margin: auto;
    width: 75%;
    height: 50px;
    padding: var(--aurora-margin-small);
    font-size: var(--aurora-font-size-small);
}
 
 
.form-container input:hover + label,
.form-container input:focus + label,
.form-container input:valid + label {
    color: var(--aurora-text-color);
    transform: translateY(-15px);
    transition: 0.5s cubic-bezier(.32,1,.64,1);
    font-size: var(--aurora-font-size-small);
}
 
 
.form-container label {
    position: absolute;
    display: inline-block; /* Required for the transform property to work properly */
    top: 8px;
    left: calc((100% - 75%) / 2 + 1rem);
    font-size: 0.875rem;
    transition: 0.5s cubic-bezier(.32,1,.64,1);
    pointer-events: none; /* Allows you to click on the input even with the label on top */
   
}
 
 
.checkbox-form {
    display: flex;
    color: #FAFAFA;
    width: 210px;
    font-size: var(--aurora-font-size-small);
    margin: 1rem;
    align-items: center;
}
 
 
.checkbox-form input {
    margin: var(--aurora-margin-zero);
    accent-color: #8C96C8;
    width: 18px;
    height: 18px;
}
 
 
.checkbox-form label {
   margin-left: 0.5rem;
}
 
 
.checkbox-form a {
    color: inherit;
    text-decoration: none;
}
 
 
.checkbox-form a:hover {
   color: #8C96C8;
   transition: var(--aurora-color-animation);
}
 
 
.submit-form {
    display: flex;
    width: 75%;
    justify-content: center;
}
 
 
.submit-form button {
    display: inline-block;
    border-radius: var(--aurora-border-radius);
    background: rgba(140, 150, 200, 1);
    width: 100%;
    height: 30px;
    border: none;
    font-size: var(--aurora-font-size-small);
    color: var(--aurora-text-color);
    transition: width 0.5s cubic-bezier(.32,1,.64,1),
                height 0.5s cubic-bezier(.32,1,.64,1),
                color 0.5s cubic-bezier(.32,1,.64,1),
                background-color 0.5s cubic-bezier(.32,1,.64,1);
}
 
 
.submit-form button:hover {
    background-color: var(--aurora-text-color);
    color: var(--aurora-text-dark);
    width: 50%;
 
}
 
 
.login-button button {
    background: transparent;
    border: none;
    color: #e6e6e6;
    border-radius: var(--aurora-border-radius);
    width: 70px;
    height: 25px;
    font-size: 12px;
    margin: 1rem;
}
 
 
.login-button button:hover {
    background-color: rgba(32, 32, 32, 0.75);
    transition: 1s ease;
 
}
 
 
.login-button a {
    color: inherit;
}
 
 
/* Footer Section */
 
 
.aurora-footer {
    background-color: var(--aurora-background-color);
    color: #C6C6C6;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-top: 1px solid rgba(250, 250, 250, 0.125);
}
 
 
.footer-container {
    margin: 0 1.5rem;
}
 
 
.footer-main {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: var(--aurora-padding-small) 0;
}
 
 
.footer-main a:hover {
    color: var(--aurora-text-color) !important;
    transition: var(--aurora-color-animation);
}
 
 
.footer-right {
    position: absolute;
    right: 0;
}
 
 
.footer-menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
 
 
.footer-item {
    font-size: var(--aurora-font-size-small);
}
 
 
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #A6A6A6;
    font-size: var(--aurora-font-size-small);
    padding-top: 1.25rem;
}
 
 
.footer-bottom a:hover {
    color: #C6C6C6;
    transition: var(--aurora-color-animation);
}
 
 
 
/* Platform Responsiveness */
 
 
@media (max-width: 768px) {
 
 
     .aurora-menu .navbar-menu {
        display: none;
        position: absolute;
        top: var(--aurora-header-height);
        left: 0;
        right: 0;
        background-color: var(--aurora-background-color);
        flex-direction: column;
        width: 100%;
        padding: 1rem 0;
        border-top: 1px solid rgba(250, 250, 250, 0.125);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
 
 
    .navbar-menu.active {
        display: flex;
    }
 
 
    .navbar-menu .navbar-item {
        margin-left: 0;
        width: 100%;
    }
 
 
    .navbar-menu .navbar-item a {
        display: block;
        padding: 0.75rem 1.5rem;
        text-align: left;
    }
 
 
    .aurora-menu .menu-icon {
        display: block;
    }
 
 
    .footer-container {
        margin: var(--aurora-margin-zero);
    }
 
 
    .footer-main {
        flex-direction: column;
        align-items: flex-start;
    }
 
 
    .footer-section {
        justify-content: flex-start;
    }
 
 
    .footer-menu {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0.5rem;
    }
 
 
    .footer-bottom {
        flex-direction: column;
        gap: 1rem;
    }
 
 
    .footer-bottom {
        align-items: center;
        text-align: center;
    }
 
 
}
 

/*  Home css */

.container-home{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border: 2.5px solid #ffffff;
        border-left: none;
        border-right: none;
        margin-bottom: 30px;
    }
 
    .titulo-home {
        padding: 10px;
        text-align: center;
        color: rgb(255, 255, 255 , 0.8);
        font-size: 4.25em;
        margin-top: 20px;
        width: 50%;
        margin-left: 200px;
       
    }
 
    .img-home {
        width: 700px;
        margin-right: 175px;
    }
   
    #btn-home {
        width: 60%;
        padding: 10px;
        border-radius: 10px;
        background-color: #2E3146;
        color: white;
        text-decoration: none !important;
        text-align: center;
        margin-left: 150px;
    }
 
    .titulo-corpo {
        color: rgb(255, 255, 255 , 0.6);
        font-size: 1.6em;
    }
 
    .caixa-texto {
        margin: auto;
        background-color: #252525;
        width: 40%;
        max-height: 50px;
        text-align: center;
        justify-content: center;
    }
 
    .titulo-cursos {
        font-size: 2em !important;
    }
 
    .img-cursos {
        width: 50%;
        height: auto;
        display: block;
        margin: auto;
    }
 
    .caixa-img {
        margin: auto;
        width: 50%;
        border-radius: 20px;
        background-color: #303030;
        margin-bottom: 20px;
    }
 
    .corpo-home {
        border: 2.5px solid #ffffff;
        border-left: none;
        border-right: none;
        border-top: none;
        margin-bottom: 30px;
    }